@import "tailwindcss";

html,
body,
#root {
    min-height: 100%;
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}